@import "tailwindcss";

body {
  margin: 0;
  background: none;
}

#root {
  background-image: url('./Captura de tela 2026-04-29 093551.png');
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  min-height: 100vh;
}
